@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.about {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90%;

  @include tablet {
    width: 85%;
  }

  &-description {
    display: flex;
    background-color: $box-color;
    border-radius: 8px;
    flex-direction: column;
    box-shadow: 10px 10px 20px 5px rgb(22, 22, 22);

    @include tablet {
      flex-direction: row;
    }

    &__gif{
      width: 10rem;
      height: 10rem;
      float: right;
      shape-outside: circle(50%);
      padding-left: 1rem;
    }

    &__text {
      font-size: 1rem;
      color: $text-color;
      @include desktop {
        font-size: 1.2rem;
      }
    }

    &__left {
      padding: 1rem;
    }

    &__pic {
      width: 100%;
      border-radius: 8px;
      @include tablet {
        width: 30vw;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
