@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.about {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90%;

  @include desktop {
    width: 80%;
  }

  &-description {
    display: flex;
    background-color: $box-color;
    border-radius: 8px;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }

    &__gif {
      align-self: flex-end;
      height: 10rem;
      width: 10rem;
    }

    &__text {
      font-size: 1rem;
      color: $text-color;
      @include desktop {
        font-size: 1.2rem;
      }
    }

    &__left {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__pic {
      width: 100%;
      border-radius: 8px;
      @include tablet {
        width: 30vw;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
