@use '../../styles/partials/mixins' as *;

header {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

header li {
    list-style: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    @include tablet{
        width: 80%;
    }

    &__list{
        display: flex;
        gap: 2rem;
    }

    &__item:hover{
        background-color: #EB5E28;
        color: white;
        border-radius: 8px;
        padding: .2rem;
        transition: .3s;
    }
}