@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    height: 6rem;
    transition-property: all; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    border-bottom: 1px solid $sub-bold;
    z-index: 6;
    background-color: $background-color;
}
.header.hide {
    top: -6rem;
}

header li {
    list-style: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    @include tablet{
        width: 80%;
    }

    a{
        font-size: 1.5rem;
    }

    &__list{
        display: flex;
        gap: 2rem;
    }

    &__item{
        background-color: #EB5E28;
        color: white;
        border-radius: 8px;
        padding: .2rem 1rem;
        transition: .3s;

        &:hover{
            background-color: white;
            color: #EB5E28;
        }
    }
}