@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  width: 90%;
  @include tablet {
    width: 85%;
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    object-fit: contain;
    @include tablet {
      height: 4rem;
      width: 4rem;
    }
  }

  &__container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
  }

  &__card {
    background-color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &--boxshadow {
      box-shadow: 20px 20px 20px 5px rgb(22, 22, 22);
    }

    &:hover .stack__icon {
      opacity: 0.3;
    }
    &:hover .stack__overlay,
    &:hover .stack__overlay--projects {
      display: block;
      animation: fade_in_show 0.3s;
    }

    @include tablet {
      width: 5rem;
      height: 5rem;
    }
  }

  &__wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  &__overlay,
  &__overlay--projects {
    display:block;
    font-weight: 700;
    background: $hover-bubble;
    font-weight: 600;
    padding: 1rem;
    border-radius: 10px;
    z-index: 2;
    position: absolute;
    color: white;
  }

  &__overlay {
    bottom: 60px;
    left: 30px;
  }

  &__overlay--projects {
    bottom: 50px;
    right: 30px;
  }
}

.stack__overlay,
.stack__overlay--projects {
  display: none;
  font-weight: 700;
  background: $hover-bubble;
  font-weight: 600;
  padding: 1rem;
  border-radius: 10px;
  z-index: 2;
  position: absolute;
  color: white;
}

.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid $hover-bubble;
  border-right: 10px solid transparent;
  border-top: 10px solid $hover-bubble;
  border-bottom: 10px solid transparent;
  left: 12px;
  bottom: -13px;
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
