@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.stack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 90%;
    
    @include tablet{
        width: 85%;
    }
    &__icon {
        height: 4rem;
        width: 4rem;
        object-fit: contain;
    }

    &__container{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        padding: 1rem 0;
    }

    &__card {
        background-color: white;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover .stack__icon{
            opacity: .3;
        }
        &:hover .stack__overlay{
            opacity: 1;
        }
    }

    &__wrapper{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    &__overlay{
        position: absolute;
        opacity: 0;
        font-weight: 700;
        text-align:center;
        vertical-align: center;
    }

}

.css{
    background-image: url("../../assets/images/css.png");
}

.js{
    background-image: url("../../assets/images/javascript.png");
}
.html{
    background-image: url("../../assets/images/html.png");
}
.react{
    background-image: url("../../assets/images/react.png");
}
.node{
    background-image: url("../../assets/images/node.png");
}
.express{
    background-image: url("../../assets/images/express.png");
}
.mysql{
    background-image: url("../../assets/images/mysql.png");
}
.rails{
    background-image: url("../../assets/images/rails.png");
}
.ruby{
    background-image: url("../../assets/images/ruby-icon.png");
}
.postgres{
    background-image: url("../../assets/images/postgres.png");
}
.ts{
    background-image: url("../../assets/images/typescript.svg");
}
.python{
    background-image: url("../../assets/images/python.png");
}
.redux{
    background-image: url("../../assets/images/redux.png");
}
